@import "~bootstrap/dist/css/bootstrap.min.css";
.container-fluid
  background: url("/src/img/slider4_meitu_1.jpg") no-repeat
  .logo
    margin-top: 13px
    margin-left: 5px
  .login_box
    margin: 40px 60px
    background: rgba(7, 17, 27, 0.1)
    .welcome
      padding: 10px
      text-align: center
      font-weight: bolder
      color: cornflowerblue
      border-bottom: 1px solid rgba(7, 17, 27, 0.2)
    .general-form
      padding: 0 50px 12px 50px
      .input-group, .form-control
        height: 50px
      .bottom_text
        font-size: 16px
      .copy-right
        margin-top: 10px
        font-size: 15px
