body
  width:100%;
  height:auto;
  overflow-x:hidden;
  background: url("/src/img/slider4.png") no-repeat
  .logo
    position: absolute
    top: 20px
    left: 5px
  .login-box
    position: absolute
    left: 50px
    bottom: 50px
    height: 70%
    width: 600px
    background: #fff
    .general-form
      margin-top: 44px
      .form-group
        margin-bottom: 10px
        max-width: 600px
        label
          display: inline-block
          max-width: 100%
          margin-bottom: 5px
          font-weight: 700
        .control-label
          width: 100%
          margin-right: 10px
          height: 25px
          font-weight: 400
          line-height: 25px
          vertical-align: middle

